.carousel-item::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, 0.377);
}
.successfull-students-content{
    width: 576px;
}
@media only screen and (max-width: 768px) {
  .successfull-students-content{
    width: 100%;
    text-align: center;
}
}
.faq-content{
  width: 700px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .faq-content{
    width: 100%;
    text-align: center;
}
}
.trust-content{
  width: 700px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .trust-content{
    width: 100%;
    text-align: center;
}
}
footer{
  padding: 100px 0px;
}
.social-icons a{
  padding: 0px 15px;
  color:white;
  background-color: #242424;
  text-decoration: none;
}
.social-icons a:hover{
  color:white;
}